!!! 5
%html
	%head
		%title SlickGrid!
		%link{ :href => 'css/smoothness/jquery-ui-1.8.16.custom.css', :rel => 'stylesheet' }
		%link{ :href => 'slick.grid.css', :rel => 'stylesheet' }
		%link{ :href => 'examples/examples.css', :rel => 'stylesheet' }

	%body
		%div#node{ :style => "height: 300px" }

		%script{ :src => 'lib/jquery-1.7.min.js' }
		%script{ :src => 'lib/jquery-ui-1.8.16.custom.min.js' }
		%script{ :src => 'lib/jquery.event.drag-2.0.min.js' }
		%script{ :src => 'slick.core.js' }
		%script{ :src => 'slick.grid.js' }
		%script{ :src => 'slick.init.js' }